@import 'color_variables';

//Top Nav Colors
.brand-big, .brand-sm{
    strong{
        color: $blue;
        &:last-child{
            color: $orange;
        }
    }
}

// direction
.direction-ltr{
    direction: ltr;
}

.direction-rtl {
    direction: rtl ;
}


//Sidebar colors
.sidebar-item.active>.sidebar-link {
    background: #32353b;
    border-left: 2px solid $orange;
    color: #adb5bd;
}

.sidebar-item.active>.sidebar-link .svg-icon {
    color: $orange;
}

.sidebar-item.active ul .sidebar-link {
    border-left: 2px solid $orange;
}

.sidebar-item {
    a:hover {
        svg {
            color: $white !important;
        }
    }
}

//card designs
.card{
    border-left: 3px solid $orange;
}

// dark/light switch
.dark_light_switch{
    img{
        width: 130%;
        cursor: pointer;
    }
}